@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1640px;
    height: 800px;
    background-color: hsl(234, 29%, 20%);
    padding-top: 80px;
}

.header{
    width: 930px;
    height: 640px;
    margin: 0 auto;
    background-color:hsl(0, 0%, 100%);
    border-radius: 35px;
    display: flex;
    align-items: center;

}
.nav{
    width: 380px;
    height: 440px;
    margin: 0 auto;
    margin-left: 40px;
}
.nav h1{
    font-size: 50px;
    color: hsl(235, 18%, 26%);
    letter-spacing: 0.3;
}

.join p{
font-size: 16px;
margin-top: 40px;
}


.product{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.product p{
color:hsl(234, 29%, 20%);
}

.product img{
    width: 20px;
    height: 20px;
}

.email{
    margin-top: 45px;
}

.email p{
    color: hsl(235, 18%, 26%);
    font-weight: bolder;
    font-size: 14px;
}

.email input{
    width: 375px;
    height: 55px;
    border-radius: 10px;
    border: 1px solid hsl(231, 7%, 60%);
    margin-top: 10px;
    padding: 30px;
    font-size: 16px;
}
.images img{
    padding: 25px;
    padding-left: 100px;
}

button{
    margin-top: 25px;
    width: 375px;
    height: 60px;
    border-radius: 10px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
}



.attribution {  
    font-size: 11px; 
    text-align: center; }
.attribution a { 
    color: hsl(228, 45%, 44%); }